In [146]:
import pandas as pd
from datetime import datetime
import os

In [147]:
msg_total_id=pd.read_csv('./msg_total_id.csv',engine ='python')

In [148]:
msg_total_id['Area']=msg_total_id['Area'].fillna('권역')

In [149]:
msg_total_id.isnull().sum()

location_id         0
create_date         0
location_name       0
md101_sn            0
msg                 0
send_platform       0
location_sido    1099
Area                0
dtype: int64

In [150]:
msg_total_id['create_date']=pd.to_datetime(msg_total_id['create_date'])

In [151]:
msg_total_id.head()

,location_id,create_date,location_name,md101_sn,msg,send_platform,location_sido,Area
0,10,2021-06-27 10:23:41,강원도 영월군,110127,"[영월군청] 6/27(일) 확진자 영월읍 1명 발생(영월43번), 감염경로 역학조사...",cbs,강원도,강원권
1,10,2021-06-24 19:47:20,강원도 영월군,109933,[행정안전부] 오늘 19시45분 강원(영월) 호우주의보 발효. 대중교통을 이용하시고...,cbs,강원도,강원권
2,10,2021-05-24 09:34:44,강원도 영월군,106650,"[영월군청]5.24.(월) 1명 확진(영월 41번), 역학조사 중이며, 이동 동선 ...",cbs,강원도,강원권
3,10,2021-05-22 12:13:45,강원도 영월군,106466,"[영월군청]5.22.(토) 1명 확진(영월 40번), 접촉자 파악 및 방역소독 완료...",cbs,강원도,강원권
4,10,2021-05-04 13:11:21,강원도 영월군,104167,"[영월군청]5.4.(화, 13시) 1명 확진(영월39번) 자가격리중으로 지역 내 이...",cbs,강원도,강원권

### 검사독려 재난문자

In [152]:
plz_area_msg = msg_total_id[msg_total_id["msg"].str.contains("선별진료소") |\
                          msg_total_id["msg"].str.contains("무기명") |\
                          msg_total_id["msg"].str.contains("증상") |\
                          msg_total_id["msg"].str.contains("발현") |\
                          msg_total_id["msg"].str.contains("의심") |\
                          msg_total_id["msg"].str.contains("가까운") |\
                          msg_total_id["msg"].str.contains("발열") |\
                          msg_total_id["msg"].str.contains("오한") |\
                          msg_total_id["msg"].str.contains("기침") |\
                          msg_total_id["msg"].str.contains("두통") |\
                          msg_total_id["msg"].str.contains("구토") |\
                          msg_total_id["msg"].str.contains("설사") |\
                          msg_total_id["msg"].str.contains("1339")
                         ]

In [153]:
plz_area_msg=plz_area_msg.drop(['create_date','location_id','md101_sn','msg','send_platform','location_sido','Area'],axis=1)
plz_area_msg=plz_area_msg.reset_index(drop=True)
plz_area_msg

      location_name
0           강원도 영월군
1           강원도 영월군
2           강원도 영월군
3           강원도 영월군
4           강원도 영월군
...             ...
14609      광주광역시 전체
14610      광주광역시 전체
14611      광주광역시 전체
14612     광주광역시 광산구
14613     광주광역시 광산구

[14614 rows x 1 columns]

In [165]:
plz_area_msg['amount']=plz_area_msg['location_name'].count()
plz_area_msg.drop_duplicates(keep=False, ignore_index=True)
plz_area_msg

      location_name  amount
0           강원도 영월군   14614
1           강원도 영월군   14614
2           강원도 영월군   14614
3           강원도 영월군   14614
4           강원도 영월군   14614
...             ...     ...
14609      광주광역시 전체   14614
14610      광주광역시 전체   14614
14611      광주광역시 전체   14614
14612     광주광역시 광산구   14614
14613     광주광역시 광산구   14614

[14614 rows x 2 columns]

In [134]:
plz_area_msg.to_csv("plz_area_msg1.csv", index=False)

### 전체문자

In [58]:
total_area_msg=msg_total_id.drop(['location_id','md101_sn','msg','send_platform','location_sido','Area'],axis=1)
total_area_msg=total_area_msg.reset_index(drop=True)
total_area_msg

              create_date                                      location_name
0     2021-06-27 10:23:41                                            강원도 영월군
1     2021-06-24 19:47:20                                            강원도 영월군
2     2021-05-24 09:34:44                                            강원도 영월군
3     2021-05-22 12:13:45                                            강원도 영월군
4     2021-05-04 13:11:21                                            강원도 영월군
...                   ...                                                ...
90689 2020-07-13 08:02:46  광주광역시 광산구,광주광역시 남구,광주광역시 서구,전라남도 나주시,전라남도 무안군,...
90690 2020-08-07 19:40:54  광주광역시 광산구,광주광역시 남구,전라남도 나주시,전라남도 무안군,전라남도 영암군,...
90691 2020-08-07 16:39:21  광주광역시 광산구,광주광역시 남구,전라남도 나주시,전라남도 무안군,전라남도 영암군,...
90692 2020-08-07 16:01:59  광주광역시 광산구,광주광역시 남구,전라남도 나주시,전라남도 무안군,전라남도 영암군,...
90693 2020-08-07 15:17:08  광주광역시 광산구,광주광역시 남구,전라남도 나주시,전라남도 무안군,전라남도 영암군,...

[90694 rows x 2 columns]

In [60]:
total_area_msg.to_csv("total_area_msg.csv", index=False)